.container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 15%;
    background-color: #fff;
    padding: 10px 20px;
}

.valueDisplay {
    display: flex;
    color: #000;
    scroll-behavior: smooth;
    white-space: nowrap;
    overflow-x: scroll;
    direction: rtl;
    height: 100%;
    margin: 0;
}

.valueDisplay h1 {
    font-size: 1.8rem;
    text-align: right;
    direction: ltr;
    
}

.historic {
    font-weight: normal;
    color: #7c7c7a;
}

.memory {
    height: 10%;
    font-size: 0.5rem;
}

.memory .valueDisplay h1  {
    font-size: 0.8rem;
    color: #7c7c7a;
    font-weight: normal;
}